<form action="/users/<%= user.id %>/lists/new" method="post">
  <p>What do you want your list named?</p>
  <input type="list" name="list[title]" placeholder="Place your list title here&hellip;"/>
  <input type="submit" value="create!"/>
</form>
