

<form action='/session' method='post'>
  <input type='text' name='user[email]' placeholder='Email' />
  <input type='password' name='user[password]' placeholder='Password' />
  <input type='Submit' value='login'  />
</form>

<form action='/signup' method='get'>
  <input type='Submit' value='SignUp' />
</form>
