<div class='user'>
  <%= user.name %>
  <%= user.email %>
</div>

<a href="/users/<%= user.id  %>/edit"> EDIT </a>
<%= erb :'/lists/show', locals: {user: user, list: user.lists, tasks: user.tasks} %>
