

<div class='welcome'>


	<h2>
	Welcome to the most effective task manager ever.



</h2>

<p>	Peer pressure - A motivational task manager that uses the power of peer pressure to make uo more productive.
</p></div>